.ccfilter.collapse {
padding: 0;
margin : 0.25em;
}

.ccfilter.collapse fieldset {
border: #f0f0f0 1px solid;
background-color: #fefefe;
}

.ccfilter.collapse fieldset.collapsible.collapsed {
border:0;
}

div.tooltip,span.tooltip {
border-bottom: #aaa 1px dashed;
}


.ccfilter.descr {
margin-left: 3em;
padding-left: 1em;
margin-right: 2em;
padding-top: 0.2em;
padding-bottom: 0.2em;
border-left: #ccc 2px solid;
color: #999;
}



#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #444;
    background-color: #f0f0f0;
    padding: 5px;
    opacity: 0.75;
    max-width: 660px;
}

#tooltip h3, #tooltip div {
margin:0pt;
}

#tooltip h3 {
font-size: 13px;
font-weight:normal;
}

#tooltip .body {
font-size: 12px;
font-weight:normal;
}


